<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neusoft.a124team.dietitian">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".haoDengKe.H_breakfast" />
        <activity android:name=".haoDengKe.H_breakfast2" />
        <activity android:name=".wangHan.W_moreHotTxt" />
        <activity android:name=".wangHan.W_UserCommunicate" />
        <activity android:name=".wangHan.W_workDisplay" />
        <activity
            android:name=".wangRui.S_loginUi"
            android:theme="@style/NoActionBar" />
        <activity android:name=".haoDengKe.H_breakfast_item2" />
        <activity android:name=".haoDengKe.H_fash" />
        <activity android:name=".haoDengKe.H_harm" />
        <activity android:name=".haoDengKe.H_milk" />
        <activity android:name=".haoDengKe.H_ribs" />
        <activity android:name=".haoDengKe.H_search" />
        <activity android:name=".wangHan.W_mylove" />
        <activity android:name=".wangHan.W_ExpertsAnswer" />
        <activity android:name=".yuJiangPeng.Y_detail_data" />
        <activity android:name=".yuJiangPeng.Y_bespoke_demo" />
        <activity android:name=".yuJiangPeng.Y_conversation_demo" />
        <activity android:name=".yuJiangPeng.Y_popups_activity" />
        <activity android:name=".haoDengKe.H_fruit" />
        <activity android:name=".haoDengKe.H_candy" />
        <activity
            android:name=".wangRui.S_quickRegistration"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".wangRui.S_personalInformation"
            android:theme="@style/NoActionBar" />
        <activity android:name=".wangHan.activityAdapter.W_activity_adapterActivity" />
        <activity android:name=".wangRui.S_healthy_Zero" />
        <activity android:name=".wangRui.S_healthyOne" />
        <activity android:name=".wangRui.S_healthy_two" />
        <activity android:name=".wangHan.W_camera" />
        <activity android:name=".wangHan.W_news_1" />
        <activity android:name=".wangHan.W_news_2" />
        <activity android:name=".wangHan.W_news_3"></activity>
    </application>

</manifest>